<h1><span style='background:pink' h1> DSCI 100 GROUP PROJECT PROPOSAL: </span></h1>

## Factors Influencing Customer Purchase Frequency

In [1]:
library(tidyverse)
#library(tidymodels)
#library(stringr)
#library(rvest)
#library(repr)

data <- read_csv("https://raw.githubusercontent.com/Kaylan-W/Dsci_project/main/data/customer_data.csv")
data

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Rows: 1000 Columns: 8
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): name, gender, education, country
dbl (4): age, income, purchase_frequency, spending

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     name                age gender education   income
1    Teresa Williams MD  42  Female High School 53936
2    Christine Myers     49  Female Master      82468
3    Dwayne Moreno       55  Male   Bachelor    56941
4    Amy Norton          24  Female Bachelor    60651
5    Tonya Adams         64  Male   Master      81884
6    Charles Smith       24  Female PhD         61444
7    Misty Moody         58  Male   PhD         78024
8    Brian Kent          34  Male   High School 32225
9    Stacie Ray          63  Male   PhD         63664
10   Brian Townsend      64  Female High School 45043
11   Samantha Bailey     32  Male   Bachelor    91170
12   Christopher Wright  23  Male   Master      86576
13   John Harrington     24  Female Master      36359
14   Gregory Franklin    39  Male   Master      78325
15   Jordan Garrett      56  Female Master      95451
16   Barbara Fuller      36  Male   Bachelor    44475
17   Eric Rogers         57  Female PhD         29055
18   Christopher Fleming 61  Male   Bachelor    25064
19   Sandra Wheeler      62  Female Master      88392
20   Elizabeth Guzman    31  Female Master      79056
21   Kathleen Mata       60  Female High School 62509
22   Jack Perry          25  Female Master      44953
23   Tyler Silva         19  Female High School 48896
24   Joy Carter          28  Female PhD         28151
25   Jody Collins        27  Male   High School 95217
26   Elizabeth Brown     56  Male   High School 36311
27   Mrs. Brandy Tate    56  Male   PhD         31997
28   Janet Miller        25  Male   High School 45505
29   Mary Smith          63  Male   PhD         47600
30   Denise Martin       61  Male   PhD         33303
⋮    ⋮                   ⋮   ⋮      ⋮           ⋮
971  Jennifer Caldwell   26  Male   High School 81298
972  Jennifer Reed       53  Male   PhD         52440
973  Justin Johnston     57  Male   Master      42895
974  Chad Wu             24  Female PhD         46459
975  James Oliver        34  Female Bachelor    79336
976  James Jones         56  Male   PhD         65975
977  Timothy Malone      34  Female Bachelor    37155
978  Latoya Stuart       52  Female High School 50725
979  Kimberly Murphy     40  Female High School 60052
980  Jesus Sanders       31  Female Bachelor    57925
981  Eddie Clark         38  Male   Master      24581
982  Patricia Cline      64  Male   High School 26324
983  Michael Schneider   44  Female PhD         63465
984  Ian Phillips        53  Female High School 75148
985  Scott Lopez         65  Male   Master      25826
986  Rodney May          40  Male   High School 88912
987  Kimberly Howard     54  Male   Bachelor    97603
988  Andre Wagner        44  Female High School 34195
989  Linda Hunter        25  Male   Bachelor    50324
990  Bradley Anderson    56  Female PhD         46752
991  William Wright      51  Female High School 49951
992  Joanne Watson       43  Female High School 52276
993  Vincent Wallace     25  Male   PhD         84339
994  Jennifer Malone     34  Male   High School 92407
995  Laura Wright MD     27  Female Bachelor    26321
996  Jason Haas          42  Female PhD         98170
997  Sharon Valdez       39  Male   High School 59174
998  Andrew Taylor       50  Male   Master      59808
999  Jessica Johnson     50  Female Master      58272
1000 Brian Williams      38  Female Bachelor    32512
     country                              purchase_frequency spending
1    Slovenia                             0.9                13227.120
2    Aruba                                0.6                12674.040
3    Cyprus                               0.3                 5354.115
4    Palau                                0.2                 2606.510
5    Zambia                               0.9                18984.780
6    Libyan Arab Jamahiriya               1.0                18072.200
7    Italy                                0.9                21511.080
8    Pakistan                             0.7                 6727.875
9    Venezuela                            0.4                 9273.280
10   San Marino                           1.0                16252.150
11   Christmas Island                     0.8                12446.800
12   South Africa                         0.8                11463.040
13   Nicaragua                            0.9                12436.155
14   Greenland                            0.2                 3783.250
15   Indonesia                            0.4                 9509.020
16   Australia                            0.1                 1522.375
17   India                                0.2                 4690.550
18   Mali                                 0.2                 3250.640
19   Sri Lanka                            0.4                 9367.840
20   Egypt                                0.8                15162.240
21   United Arab Emirates                 1.0                17125.450
22   Nauru                                0.4                 5699.060
23   Armenia                              0.6                 5666.880
24   Iran                                 0.2                 3881.510
25   Faroe Islands                        0.9                11484.765
26   United States of America             0.4                 5526.220
27   Svalbard & Jan Mayen Islands         0.6                12959.910
28   Ethiopia                             0.3                 2182.575
29   Albania                              0.1                 2238.000
30   El Salvador                          0.5                10832.575
⋮    ⋮                                    ⋮                  ⋮
971  Sierra Leone                         0.8                 9651.920
972  Belarus                              0.4                 9048.800
973  Kenya                                0.5                 9572.375
974  Sao Tome and Principe                0.8                13858.360
975  Egypt                                0.3                 5090.040
976  Zambia                               0.7                16309.125
977  Papua New Guinea                     1.0                14857.750
978  Bosnia and Herzegovina               1.0                16536.250
979  Malaysia                             0.8                12002.080
980  Russian Federation                   1.0                15896.250
981  Bouvet Island (Bouvetoya)            0.7                11360.335
982  Costa Rica                           0.1                 1331.620
983  Greenland                            0.1                 2317.325
984  Comoros                              0.5                 8878.700
985  Mexico                               0.1                 1829.130
986  Tajikistan                           0.2                 2889.120
987  Bahrain                              1.0                19880.150
988  United States Minor Outlying Islands 0.3                 4112.925
989  Ethiopia                             0.8                 8412.960
990  Grenada                              0.1                 2433.760
991  Poland                               0.3                 4949.265
992  Turks and Caicos Islands             0.4                 5845.520
993  Benin                                0.7                12051.865
994  British Virgin Islands               0.7                 8834.245
995  Ecuador                              0.5                 7158.025
996  Bosnia and Herzegovina               0.7                17435.950
997  Eritrea                              0.9                11662.830
998  Serbia                               0.4                 7196.160
999  Cyprus                               0.7                13939.520
1000 Turkey                               0.5                 8312.800

## Introduction:
##### * Provide some relevant background information on the topic so that someone unfamiliar with it will be prepared to understand the rest of your proposal.
##### * Clearly state the question you will try to answer with your project.
##### * Identify and describe the dataset that will be used to answer the question.

Understanding customer behaviour, in particular consumer purchase frequency, can be an important tool for business success. Uncovering which customer demographics impact purchase frequency can inform marketing means and potentially increase company profit. This project will investigate which factors have the greatest influence on a customer's purchase frequency using the Customer Spending Dataset sourced from Kaggle. This dataset includes the name, age, gender, education, income, country, purchase frequency and spending amounts of approximately 1000 customers worldwide. It represents equal proportions of males and females between the ages of 18 to 65 which an income range of 20, 000 to 99,800 $. We will be comparing age, gender and income as factors in purchase frequency.



> Dataset Link: https://www.kaggle.com/datasets/goyaladi/customer-spending-dataset

## Preliminary Exploratory Data Analysis:
* Demonstrate that the dataset can be read from the web into R
* Clean and wrangle your data into a tidy format
* Using only training data, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data. 
* Using only training data, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.

In [2]:
library(tidyverse)
#library(tidymodels)
#library(stringr)
#library(rvest)
#library(repr)

data <- read_csv("https://raw.githubusercontent.com/Kaylan-W/Dsci_project/main/data/customer_data.csv")
datatidy<-select(data, -name, -spending, -country)
breakpoints <- c(0, 0.25, 0.5, 0.75, 1)
labels <- c("Very Low", "Low", "High", "Very High")
tidydata<- datatidy %>% mutate(categories = cut(datatidy$purchase_frequency, breakpoints, labels = labels, include.lowest = TRUE))
tidydata

Rows: 1000 Columns: 8
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): name, gender, education, country
dbl (4): age, income, purchase_frequency, spending

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     name                age gender education   income
1    Teresa Williams MD  42  Female High School 53936
2    Christine Myers     49  Female Master      82468
3    Dwayne Moreno       55  Male   Bachelor    56941
4    Amy Norton          24  Female Bachelor    60651
5    Tonya Adams         64  Male   Master      81884
6    Charles Smith       24  Female PhD         61444
7    Misty Moody         58  Male   PhD         78024
8    Brian Kent          34  Male   High School 32225
9    Stacie Ray          63  Male   PhD         63664
10   Brian Townsend      64  Female High School 45043
11   Samantha Bailey     32  Male   Bachelor    91170
12   Christopher Wright  23  Male   Master      86576
13   John Harrington     24  Female Master      36359
14   Gregory Franklin    39  Male   Master      78325
15   Jordan Garrett      56  Female Master      95451
16   Barbara Fuller      36  Male   Bachelor    44475
17   Eric Rogers         57  Female PhD         29055
18   Christopher Fleming 61  Male   Bachelor    25064
19   Sandra Wheeler      62  Female Master      88392
20   Elizabeth Guzman    31  Female Master      79056
21   Kathleen Mata       60  Female High School 62509
22   Jack Perry          25  Female Master      44953
23   Tyler Silva         19  Female High School 48896
24   Joy Carter          28  Female PhD         28151
25   Jody Collins        27  Male   High School 95217
26   Elizabeth Brown     56  Male   High School 36311
27   Mrs. Brandy Tate    56  Male   PhD         31997
28   Janet Miller        25  Male   High School 45505
29   Mary Smith          63  Male   PhD         47600
30   Denise Martin       61  Male   PhD         33303
⋮    ⋮                   ⋮   ⋮      ⋮           ⋮
971  Jennifer Caldwell   26  Male   High School 81298
972  Jennifer Reed       53  Male   PhD         52440
973  Justin Johnston     57  Male   Master      42895
974  Chad Wu             24  Female PhD         46459
975  James Oliver        34  Female Bachelor    79336
976  James Jones         56  Male   PhD         65975
977  Timothy Malone      34  Female Bachelor    37155
978  Latoya Stuart       52  Female High School 50725
979  Kimberly Murphy     40  Female High School 60052
980  Jesus Sanders       31  Female Bachelor    57925
981  Eddie Clark         38  Male   Master      24581
982  Patricia Cline      64  Male   High School 26324
983  Michael Schneider   44  Female PhD         63465
984  Ian Phillips        53  Female High School 75148
985  Scott Lopez         65  Male   Master      25826
986  Rodney May          40  Male   High School 88912
987  Kimberly Howard     54  Male   Bachelor    97603
988  Andre Wagner        44  Female High School 34195
989  Linda Hunter        25  Male   Bachelor    50324
990  Bradley Anderson    56  Female PhD         46752
991  William Wright      51  Female High School 49951
992  Joanne Watson       43  Female High School 52276
993  Vincent Wallace     25  Male   PhD         84339
994  Jennifer Malone     34  Male   High School 92407
995  Laura Wright MD     27  Female Bachelor    26321
996  Jason Haas          42  Female PhD         98170
997  Sharon Valdez       39  Male   High School 59174
998  Andrew Taylor       50  Male   Master      59808
999  Jessica Johnson     50  Female Master      58272
1000 Brian Williams      38  Female Bachelor    32512
     country                              purchase_frequency spending
1    Slovenia                             0.9                13227.120
2    Aruba                                0.6                12674.040
3    Cyprus                               0.3                 5354.115
4    Palau                                0.2                 2606.510
5    Zambia                               0.9                18984.780
6    Libyan Arab Jamahiriya               1.0                18072.200
7    Italy                                0.9                21511.080
8    Pakistan                             0.7                 6727.875
9    Venezuela                            0.4                 9273.280
10   San Marino                           1.0                16252.150
11   Christmas Island                     0.8                12446.800
12   South Africa                         0.8                11463.040
13   Nicaragua                            0.9                12436.155
14   Greenland                            0.2                 3783.250
15   Indonesia                            0.4                 9509.020
16   Australia                            0.1                 1522.375
17   India                                0.2                 4690.550
18   Mali                                 0.2                 3250.640
19   Sri Lanka                            0.4                 9367.840
20   Egypt                                0.8                15162.240
21   United Arab Emirates                 1.0                17125.450
22   Nauru                                0.4                 5699.060
23   Armenia                              0.6                 5666.880
24   Iran                                 0.2                 3881.510
25   Faroe Islands                        0.9                11484.765
26   United States of America             0.4                 5526.220
27   Svalbard & Jan Mayen Islands         0.6                12959.910
28   Ethiopia                             0.3                 2182.575
29   Albania                              0.1                 2238.000
30   El Salvador                          0.5                10832.575
⋮    ⋮                                    ⋮                  ⋮
971  Sierra Leone                         0.8                 9651.920
972  Belarus                              0.4                 9048.800
973  Kenya                                0.5                 9572.375
974  Sao Tome and Principe                0.8                13858.360
975  Egypt                                0.3                 5090.040
976  Zambia                               0.7                16309.125
977  Papua New Guinea                     1.0                14857.750
978  Bosnia and Herzegovina               1.0                16536.250
979  Malaysia                             0.8                12002.080
980  Russian Federation                   1.0                15896.250
981  Bouvet Island (Bouvetoya)            0.7                11360.335
982  Costa Rica                           0.1                 1331.620
983  Greenland                            0.1                 2317.325
984  Comoros                              0.5                 8878.700
985  Mexico                               0.1                 1829.130
986  Tajikistan                           0.2                 2889.120
987  Bahrain                              1.0                19880.150
988  United States Minor Outlying Islands 0.3                 4112.925
989  Ethiopia                             0.8                 8412.960
990  Grenada                              0.1                 2433.760
991  Poland                               0.3                 4949.265
992  Turks and Caicos Islands             0.4                 5845.520
993  Benin                                0.7                12051.865
994  British Virgin Islands               0.7                 8834.245
995  Ecuador                              0.5                 7158.025
996  Bosnia and Herzegovina               0.7                17435.950
997  Eritrea                              0.9                11662.830
998  Serbia                               0.4                 7196.160
999  Cyprus                               0.7                13939.520
1000 Turkey                               0.5                 8312.800

## Methods:
* Explain how you will conduct either your data analysis and which variables/columns you will use. Note - you do not need to use all variables/columns that exist in the raw data set. In fact, that's often not a good idea. For each variable think: is this a useful variable for prediction?
* Describe at least one way that you will visualize the results



We are going to analyze and compare which variables ( out of age, data, gender, education,income, country) most strongly influence the purchase frequency of an individual by using k-classification models. 

We will be using the columns age, gender, income and purchase frequency from the data set.  We will take purchase frequency as categories 0.00-0.25 very low , 0.25-0.50 low, 0.50-0.75 high and 0.75 - 1.00 very high. We will then create three k-classfication models with one of the age, gender and income as parameters and assess the accuracy of the different classification models in predicting the purchase frequency categories.



We will create three scatter plots each with one of the testing variables (age, gender and income) againt purchase frequency. Side by side we will be able to visualize the effects of these variables independently.

## Expected Outcomes and Significance:
* What do you expect to find?
* What impact could such findings have?
* What future questions could this lead to?
_____________

* We expect to find that people with higher income and age have a higher purchase frequency. We also expect to find gender to have no impact on purchase frequency.
* These findings could impact how stores will go about marketing their products to people of different economic class' and demographics. The outcome of this data analysis could provide information on which customers a company should advertise towards. 
* Further questions could be asked to analyze which products these individuals with different demographical characteristcs (ex. higher income) prefer and how the advertising affects their purchase frequency.